#hero {
    margin-top: 0;
    background-position: center;
    background-size: cover;
    padding: var(--spacing-l);
    min-height: 60svh;
  }
  
  #hero div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: var(--spacing-l);
    gap: var(--spacing-m);
    background-color: var(--color-accent-2);
    color: var(--color-dark);
    /*width: 50%;
    flex-grow: 1;*/
    height: 60%;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    #hero div {
      width: 100%;
    }
  }